.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: #131921 !important;
}
.drawer__box{
  width: 200px;
}
.header__sliderMenu {
  padding: 20px 0;
  direction: rtl;
  position: fixed;
  height: 100vh;
  background-color: #131921;
  width: 200px;
  top: 0;
  right: 0;
  z-index: 6;
  /* transform: translateX(+100%); */
  color: #fff;
}
.header__sliderUl {
  font-size: 20px;
  color: #fff;
  list-style-type: none;
}
.header__sliderUl li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  cursor: pointer;
  margin: 20px 0;
  /* border-bottom: 1px solid #fff; */
  padding: 10px 30px;
}
.header__sliderUl li:hover {
  background-color: #febd69;
  color: black;
}

@media only screen and (min-width: 520px) {
  .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    display: none !important;
  }
  .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    display: none !important;
  }
}
@media only screen and (max-width: 400px){
  .css-1hskriy {
    width: 200px !important;
  }
}